/* Estilos para a barra de navegação */
.navbar {
    background-color: #c7c38c;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.menu-icon {
    cursor: pointer;
    display: none; /* Oculta os traços por padrão */
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0 20px;
}

.nav-list a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}

.nav-list a:hover {
    color: #ff5733;
}

/* Estilos para telas menores (máx. largura de 768px) */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block; /* Exibe os traços quando a tela for menor */
    }

    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        text-align: center;
    }

    .nav-list.active {
        display: flex;
    }
}


/* Resevas de mesa */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888;
}

h1 {
    color: #333;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.reservation-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

/* Estilos para o botão de reserva */
.reservation-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#map {
    height: 300px;
}

